@tailwind base;
@tailwind components;
@tailwind utilities;

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  /* nav {
    @apply max-w-7xl flex mx-auto justify-between px-4 py-4 absolute top-0 w-full left-0 right-0 z-50;
  } */

  /* nav img {
    @apply h-[35px] md:h-[40px] lg:h-[50px];
  }
  nav ul {
    @apply hidden md:flex items-center gap-6;
  }

  nav ul .login {
    @apply bg-primary px-6 py-3 text-white font-bold rounded-md;
  } */

  .container {
    @apply max-w-7xl mx-auto w-full px-4;
  }

  /* Input */
  select {
    @apply w-full px-4 py-2 rounded-md border border-black/20 bg-transparent;
  }

  input[type="date"] {
    @apply w-full px-4 py-2 rounded-md border border-black/20 bg-transparent;
  }

  .search-btn {
    @apply bg-[#1563DF] px-8 py-3 rounded-xl block mx-auto text-white font-bold -translate-y-1/2 shadow-lg hover:shadow-[#1563DF]/50 active:scale-95 transition-all;
  }

  .btn-primary {
    @apply bg-[#1563DF] px-8 py-2 rounded-md block text-white font-bold shadow-lg hover:shadow-[#1563DF]/50 active:scale-95 transition-all;
  }

  .btn-disabled {
    @apply bg-gray-500 px-8 py-2 rounded-md block text-white font-bold shadow-lg cursor-default;
  }

  #searchParams {
    @apply bg-white w-full h-full py-10 lg:py-12 px-6 lg:px-8 rounded-xl border border-black/10 shadow-lg lg:flex items-center [&>*]:flex-1 [&>*]:px-4 [&>div>span]:mb-3 space-y-5 lg:space-y-0;
  }

  #searchParams span {
    @apply font-bold;
  }

  .imageshowCase {
    @apply h-[400px];
  }

  .imageshowCase img {
    @apply h-full min-h-full w-full min-w-full object-cover;
  }

  .login-form {
    @apply flex flex-col my-6;
  }

  .login-form div {
    @apply flex flex-col gap-2 my-2;
  }

  .login-form input {
    @apply border border-black/20 rounded-md px-4 py-2;
  }

  input[type="checkbox"] {
    @apply mx-1;
  }

  button:disabled {
    @apply bg-gray-500 cursor-default;
  }
}

@layer components {
  .project-container {
    @apply max-w-[1520px] mx-auto px-5 py-3;
  }
  .btn-outline {
    @apply px-5 py-3 rounded-md bg-white border-2 border-primary font-medium text-lg text-primary hover:text-white hover:bg-primary  transition-all duration-500 delay-75;
  }
  .about-details-card {
    @apply p-5 shadow-lg rounded-md hover:scale-105 hover:border transition-all duration-500 border border-[#334166] hover:border-primary bg-[#334155] space-y-2;
  }
  .social-icon {
    @apply p-1 bg-white rounded-full  border-secondary shadow hover:scale-95 transition-all duration-500;
  }
  .input {
    @apply w-full text-secondary p-3 rounded text-sm border border-primary shadow-2xl bg-transparent focus:ring focus:ring-primary focus:ring-offset-0;
  }
  .menuItem {
    @apply pb-2 mt-3 text-xl text-white py-2 text-center border-b border-slate-600 md:border-b-0 md:hover:bg-transparent;
  }
}

.slick-dots {
  display: flex !important;
  justify-content: center;
  align-items: center;
  bottom: -30px;
}

.slick-dots li {
  width: 12px;
  height: 12px;
}

.slick-dots li button:before {
  font-size: 0;
}

.slick-dots li button {
  width: 100%;
  height: 100%;
  border: 1px solid #60a7f3;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.slick-dots li.slick-active button {
  width: 100%;
  height: 100%;
  background-color: #007bff;
  box-shadow: 0 0 0 1px #007bff, 0 0 0 3px #fff;
}
